*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color:red;
}
nav{
    margin:0;
    padding:0;
    background-color: green;
    width: 100%;
    height: auto;
}
nav ul{
    margin:0;
    padding:15px;
    list-style: none;
    display:flex;
    flex-direction:row;
}
nav ul li{
    padding:20px    ;
    display: flex;
    flex-direction: row;
}
nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    color:black;
}
form input,form textarea,form button{
    width: 15vw;
}
form{
    background-color: yellow;
    width: auto;
    padding:15px;
    margin-top:3%;
    border-radius: 15px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea{resize: none}

.about p{
    width: 40%;
    color:white;
}
.about h2{
    color:white;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about img{
    margin-top:5%;
    width: 15%;
}
.shop img{
    width: 50%;
}
.shop{
    margin-left: 5%;
    color:white;
    font-size:24px;
    display: flex;
    flex-direction: row;
}
.cart{
    width: 20%;
}
h1{
    color:white;
    margin-left:5%;
}
.fun{
    width: 40%;
    margin-left:5%;
}