*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
nav{
    margin:0;
    padding:0;
    background-color: green;
    width: 100%;
    height: auto;
}
nav ul{
    margin:0;
    padding:15px;
    list-style: none;
    display:flex;
    flex-direction:row;
}
nav ul li{
    padding:20px    ;
    display: flex;
    flex-direction: row;
}
nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    color:black;
}